<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>day11_HomeAssignment</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>QuestionOne</display-name>
    <servlet-name>QuestionOne</servlet-name>
    <servlet-class>com.hsbc.tr.web.QuestionOne</servlet-class>
    <init-param>
      <param-name>username</param-name>
      <param-value>Abhi</param-value>
    </init-param>
    <init-param>
      <param-name>password</param-name>
      <param-value>Abhi</param-value>
    </init-param>
    <init-param>
      <param-name>url</param-name>
      <param-value>jdbc:http//:localhost:1527/</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>QuestionOne</servlet-name>
    <url-pattern>/questionone</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MainServlet</display-name>
    <servlet-name>MainServlet</servlet-name>
    <servlet-class>com.hsbc.tr.web.questiontwo.MainServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MainServlet</servlet-name>
    <url-pattern>/mainservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ForwardHandler</display-name>
    <servlet-name>ForwardHandler</servlet-name>
    <servlet-class>com.hsbc.tr.web.questiontwo.ForwardHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForwardHandler</servlet-name>
    <url-pattern>/forwardhandler</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IncludeHandler</display-name>
    <servlet-name>IncludeHandler</servlet-name>
    <servlet-class>com.hsbc.tr.web.questiontwo.IncludeHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IncludeHandler</servlet-name>
    <url-pattern>/includehandler</url-pattern>
  </servlet-mapping>
</web-app>